/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
iframe.auto-embed {
    max-width: 100%;
    /* min-height: 500px; */
}

iframe.small.auto-embed {
    min-height: 300px;
}

iframe.large.auto-embed {
    min-height: 1000px;
}

iframe.largest.auto-embed {
    min-height: calc(100vh - 100px);
}

.auto-embed.twitter-embed {
    width: 600px;
    height: 350px;
    min-height: unset;
}

.auto-embed.youtube-shorts-embed {
    height: 560px;
    aspect-ratio: 9/16;
}

.auto-embed.youtube-embed {
    /* Default size of YouTube videos when using Share > Embed option on YoutTube's website */
    /* width: 560px;
    height: 315px; */

    width: 100%;
    aspect-ratio: 16 / 9;
}

.auto-embed.error-embed {
    color: var(--text-error);
}

.auto-embed.steam-embed {
    /* Default size of Steam previews when using Embed option on Steam's website */
    /* width: 646px;
    height: 190px; */

    width: 100%;
    height: 190px;

    /* Even if height is set to very big and width is small, it doesn't change the height,
     and height stays at 190px. So set a fixed height.*/
}